
<h1>All Artists</h1>

<hr>

<!--
<div class="artistWrapper">
	<div *ngFor="let artist of artists" (click)="onSelect(artist)" [class.selected]="artist === selectedArtist" class="artist">
		<p>Name : {{artist.name | uppercase }}</p>
		<p>Ref : {{artist.id}}</p>
		<p>Genre : {{artist.genre}}</p>
	</div>
</div>

<app-artist-detail [artist]="selectedArtist"> </app-artist-detail>
-->

<div class="artistWrapper">
  <div *ngFor="let artist of artists" [class.selected]="artist === selectedArtist" class="artist">

    <a routerLink="/artist/{{artist.id}}">
      <p>Name : {{artist.name | uppercase }}</p>
      <p>Genre : {{artist.genre}}</p>
    </a>

    <button class="delete" title="delete artist"(click)="delete(artist)">x</button>

  </div>
</div>

<div>
  <label>Artist name: <input #artistName /> </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(artistName.value); artistName.value=''">Add</button>
</div>
