<nav>
	<div>
		<span>{{title}}</span>
	</div>
	<div>
		<span>POST ROCK</span>
	</div>
	<div class="search">
		<input type="text" name="" placeholder="Search all music" id="">
	</div>
</nav>

<div class="currentPlay">
	<p>God Is An Astronaut</p>
	<p>Infinite Horizons</p>

	<div class="player">

	</div>
</div>

<div class="contentWrapper">
	<div class="sideNav">
		<a routerLink="/home">Home Page</a>
		<a routerLink="/artists">All Artists</a>
	</div>

	<div class="content">
		<router-outlet></router-outlet>
		<app-messages></app-messages>
	</div>

	<div class="activity">

	</div>
</div>



