.container
{
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 24px;
  grid-template-rows: minmax(100vh,auto);
}

.container .side
{
  background: #19162C;
  text-align: center;
  padding: 30px 15px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.container .side nav
{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container .side nav a
{
  color: #b7b7b7;
  text-decoration: none;
  padding-left: 20px;
  margin: 9px;
  font-size: 18px;
  text-align: left;
}

.container .side .activity
{
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
}

.content
{
 background: #1C1A40;
}

.currentPlay
{
  background: url('../assets/img/background.jpg') no-repeat center;
  background-size: cover;
  height: 30vh;
  color: #ffff;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 65%;
  place-content: center;
  font-size: 22px;
}

.currentPlay>p:first-child
{
  font-size: 32px;
  font-weight: 300;
}

.contentWrapper
{
  display: grid;
  grid-template-columns: 15% 65% 20%;
  background: #fff;
  color: #2b2b2b;
  text-align: left;
  grid-template-rows: minmax(60vh, 1fr);
}




